<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compilance Certificate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="row m-2">
        <div style="padding-left: 180px; margin-bottom: 0%; padding-bottom: 0%;">
            <h2><u>COMPLIANCE CERTIFICATE FOR THE QUARTER ENDED </u></h2>
        </div>
        <div style="padding-left: 120px; margin-top: 0%; padding-top: 0%;">
            <p><i>(Pursuant to Securities and Exchange Board of India (Prohibition of Insider Trading) Regulations,2015)</i></p>
        </div>
    </div>
    <br>
    <div class="row m-2">
        <p style="width: 1000px; text-align: justify; padding-left: 30px; padding-right: 30px;">
            I, {{first_name}} {{last_name}}, {{designation}} of {{organization_name}}, Practising
            Company Secretary (as
            decided by the Company) am aware of the compliance requirement of Structured Digital Database (SDD)
            pursuant to provisions of Regulation 3(5) and 3(6) of<b> Securities and Exchange Board of India
            (Prohibition of Insider Trading) Regulations, 2015 </b>(PIT Regulations) and I certify that
        </p>
    </div>
    <div class="row m-2">
        <ol style="padding-left: 50px;">
            <li>The Company has a Structured Digital Database in place</li>
            <li>Control exists as to who can access the SDD</li>
            <li>All the UPSI disseminated in the previous quarter have been captured in the Database</li>
            <li>The system has captured nature of UPSI along with date and time</li>
            <li>The database has been maintained internally and an audit trail is maintained</li>
            <li>The database is non-tamperable and has the capability to maintain the records for 8 years.</li>
        </ol>
    </div>
    <br>
    <div class="row m-2">
        <p style="width: 1000px; text-align: justify; padding-left: 30px; padding-right: 30px;">
            I also confirm that the Company was required to capture {{number_of_event}} number of events during the
            quarter ended and
            has captured {{number_of_event}} number of the said required events.
        </p>
    </div>
    <div class="row m-2">
        <p style="width: 1000px; text-align: justify; padding-left: 30px; padding-right: 30px;">
            I would like to report that the following noncompliance(s) was observed in the previous quarter and the
            remedial action(s) taken along with timelines in this regard:
        </p>
    </div>
    <br>
    <div class="row m-2">
        <p style="width: 1000px; text-align: justify; padding-left: 30px; padding-right: 30px;">
            For {{organization_name}},
        </p>
    </div>
    <div style="padding-top: 120px;">
        <p style="width: 1000px; text-align: justify; padding-left: 30px; padding-right: 30px;">
            Compliance Officer or Practising Company Secretary, as decided by the Company
        </p>
    </div>
    <br>
    <div class="row m-2">
        <p style="width: 1000px; text-align: justify; padding-left: 30px; padding-right: 30px;">
            Date  : {{date_of_certification}}
        </p>
        <p style="width: 1000px; text-align: justify; padding-left: 30px; padding-right: 30px;">
            Place : {{place}}
        </p>
    </div>






</body>

</html>