<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>

<body>
    <form action="/dupdate/{{disclosure.Id}}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="row m-2">
            <div>
                <h4>
                    Update existing report
                </h4>
                <h6>
                    Note: Changes will be tracked in the audit log and cannot be tampered.
                </h6>
            </div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Shared by</th>
                        <td>
                            <input class="form-control" id="Id_disclosure" value="{{disclosure.Id}}" type="text"
                                style="display: none;">
                            <select class="form-select" name="shared_by" value="{{disclosure.shared_by}}">
                                <option selected value="{{disclosure.shared_by}}">{{disclosure.shared_by}}</option>
                                <option value="Director(Management,PAN:abcdefg3)">Director(Management,PAN:abcdefg3)
                                </option>
                                <option value="Ankush(Management)">Ankush(Management)</option>
                                <option value="Director-3">Director-3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Nature of UPSI</th>
                        <td>
                            <select class="form-select" name="Nature_of_UPSI" value="{{disclosure.Nature_of_UPSI}}">
                                <option selected value="{{disclosure.Nature_of_UPSI}}">{{disclosure.Nature_of_UPSI}}
                                </option>
                                <option value="Board Meeting/AGM">Board Meeting/AGM</option>
                                <option value="Dividends">Dividends</option>
                                <option value="Mergers">Mergers</option>
                                <option value="New product or service">New product or service</option>
                                <option value="Financial results">Financial results</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Purpose of Sharing</th>
                        <td>
                            <select class="form-select" name="Purpose_of_sharing"
                                value="{{disclosure.Purpose_of_sharing}}">
                                <option selected value="{{disclosure.Purpose_of_sharing}}">
                                    {{disclosure.Purpose_of_sharing}}</option>
                                <option value="Product planning discussion">Product planning discussion</option>
                                <option value="Preparation for Board Meeting">Preparation for Board Meeting</option>
                                <option value="Other Legitimate Purpose">Other Legitimate Purpose</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Remarks</th>
                        <td>
                            <textarea class="form-control" id="exampleFormControlTextarea5" name="Remark"
                                value="{{disclosure.Remark}}" rows="3" required>{{disclosure.Remark}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Shared On</th>
                        <td>
                            <input class="form-control w-25" type="date" id="shared_on" name="shared_on"
                                value='{{disclosure.shared_on|date:"Y-m-d" }}'>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Current Attachment
                        </th>
                        <td id="edit_Attach">
                            <input class="form-control" name="disc_Attachment" value="{{disclosure.disc_Attachment}}" type="text"
                                style="display: none;">
                            <a target="_blank" id="Current_Attachment" value="{{disclosure.disc_Attachment}}"
                                href="/show_attched_pdf/{{disclosure.disc_Attachment}}">{{disclosure.disc_Attachment}}</a>
                            <button type="button" id="del_Attach" class="btn btn-default pull-right"><i
                                    class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <input class="btn btn-primary" type="submit" value="update">
            </div>
        </div>
    </form>

    <script>

        if (document.getElementById('Current_Attachment').innerText == 'annonymous.pdf') {
            document.getElementById("edit_Attach").innerHTML = `<input type="file" id="file-selector" name="disc_Attachment" class="form-control w-25">`
        }

        let select = document.getElementById('del_Attach')
        select.addEventListener('click', function () {
            result = confirm('Do you want to delete current attchment?')
            if (result == true) {
                id_to_delete = document.getElementById('Id_disclosure').value
                document.getElementById("edit_Attach").innerHTML = `<input type="file" id="file-selector" name="disc_Attachment" class="form-control w-25">`
                console.log(id_to_delete)
                $.ajax({
                    type: "GET",
                    url: '/DeleteDisclosureAttachedPDF',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}', id: id_to_delete, },
                    success: function callback(response) {
                        console.log(response);
                    }
                });
            }
        })
    </script>
</body>


</html>